.container-overlay {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}
.container-overlay:hover .overlay {
  opacity: 1;
}
.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#blog-bg {
  background: linear-gradient(
    299deg,
    rgba(28, 255, 182, 1) 0%,
    rgba(127, 102, 197, 1) 87%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
