.column-grid-1 {
  grid-area: column-grid-1;
}
.column-grid-2 {
  grid-area: column-grid-2;
}
.column-grid-3 {
  grid-area: column-grid-3;
}
.column-grid-4 {
  grid-area: column-grid-4;
}
.column-grid-5 {
  grid-area: column-grid-5;
}
.column-grid-6 {
  grid-area: column-grid-6;
}
.column-grid-7 {
  grid-area: column-grid-7;
}

.grid-tecnologias {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  min-height: 680px;
  perspective: 1500px;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  grid-template-rows: 1fr 0.15fr 1fr 1fr;
  grid-template-areas:
    "column-grid-1 column-grid-2 column-grid-3"
    "column-grid-1 column-grid-2 column-grid-5"
    "column-grid-1 column-grid-4 column-grid-5"
    "column-grid-6 column-grid-7 column-grid-7"
    ;
  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 2fr 1.4fr 0.2fr 1.4fr 0.2fr 1.4fr !important;
    grid-template-areas:
      "column-grid-1 column-grid-1"
      "column-grid-2 column-grid-4"
      "column-grid-2 column-grid-5"
      "column-grid-3 column-grid-5"
      "column-grid-3 column-grid-7"
      "column-grid-6 column-grid-7" !important;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    // gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
    column-gap: 0px;
    row-gap: 24px;
  }
}

.column-grid-1,
.column-grid-2,
.column-grid-3,
.column-grid-4,
.column-grid-5,
.column-grid-6,
.column-grid-7 {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  border-radius: 10px !important;
  transition: background 0.5s ease;
}
.column-grid-2:hover,
.column-grid-3:hover,
.column-grid-4:hover,
.column-grid-5:hover,
.column-grid-6:hover,
.column-grid-7:hover {
  background-image: radial-gradient(
    circle at -118.594px -39.0401px,
    #04050755,
    #5852520f
  );
}

.column-grid-1 {
  background-image: radial-gradient(
    circle at -118.594px -39.0401px,
    #0141ff55,
    #0000000f
  );

  // mix-blend-mode: plus-lighter;
}

.bg-text-eideveloper-1 {
  background: -webkit-linear-gradient(180deg, #8271f1, rgb(230, 31, 31))
    repeat-x;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title-1 {
  font-size: 120px;
  text-align: center;
  font-weight: 800;
  @media (max-width: 990px) {
    font-size: 72px;
  }
  @media (max-width: 990px) {
    font-size: 58px;
    overflow-x: hidden;
  }
}
