//Cria nosso tema
$my-color-1: #00a1ff;
$my-color-2: #ff4400;
$my-color-3: #ffcd8a;
$my-color-4: #ffb627;
$my-color-5: #4400ff;
$my-color-6: #ff0044;
$purple: #6f42c1;
$black: #000000;
$c1: #6c58ee;
$c2: rgb(230, 95, 18);
$c3: rgb(33, 9, 141);
$c4: #131313;
$c5: #00a800;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$indigo: #6610f2;
$pink: #e83e8c;
$orange: #fd7e14;
$teal: #20c997;
$color-body: #fff5f8;

$theme-colors: (
  "my-color-1": $my-color-1,
  "my-color-2": $my-color-2,
  "my-color-3": $my-color-3,
  "my-color-4": $my-color-4,
  "my-color-5": $my-color-5,
  "my-color-6": $my-color-6,
  "purple": $purple,
  "black": $black,
	"c1": $c1,
  "c2": $c2,
  "c3": $c3,
  "c4": $c4,
  "c5": $c5,
  "indigo": $indigo,
  "pink": $pink,
  "orange": $orange,
  "teal": $teal,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "color-body": $color-body,
);

//Classes personalizadas
$link-color: $my-color-5;

// Deixa as imagens dos posts responsivas
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #ff0044;
  color: white;
}
#bg-top {
  // background-image: url(../img/background.jpg);
	background: linear-gradient(299deg, rgba(28,255,182,1) 0%, rgba(127,102,197,1) 87%);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.container-overlay {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}
.container-overlay:hover .overlay {
  opacity: 1;
}
.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#blog-bg {
  background: linear-gradient(
    299deg,
    rgba(28, 255, 182, 1) 0%,
    rgba(127, 102, 197, 1) 87%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.vh-25 {
  height: 25vh;
}
.vh-50 {
  height: 50vh;
  min-height: 340px;
}
.vh-75 {
  height: 75vh;
}
.vh-100 {
  height: 100vh;
}

$enable-shadows: true;
$enable-gradients: true;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;

//importa o bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
