body {
  font-family: "Arial", sans-serif;
}

.title-1 {
  position: relative;
  font-size: 120px;
  text-align: center;
  font-weight: 800;
}

@media (max-width: 990px) {
  .title-1 {
    font-size: 72px;
  }
}
@media (max-width: 576px) {
  .title-1 {
    font-size: 45px;
  }
  .box,
  .img-perfil {
    width: calc(2rem + 3px) !important;
    height: calc(2rem + 3px) !important;
  }
  .box::before {
    padding: 3px !important;
  }
}
.bg-text-eideveloper-1 {
  background: -webkit-linear-gradient(180deg, #8271f1, rgb(230, 31, 31)) repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-text-eideveloper-2 {
  background: -webkit-linear-gradient(180deg, #26b526, #00a800) repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
  position: absolute;
  top: -15px;
  right: -15px;
  width: calc(5rem + 12px);
  height: calc(5rem + 12px);
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
  /* border: 5px solid linear-gradient(180deg, #8271f1, rgb(230, 31, 31)) repeat-x; */
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(180deg, #8271f1, rgb(230, 31, 31)) repeat-x;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
}

.img-perfil {
  width: calc(5rem + 12px);
  height: calc(5rem + 12px);
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-gap: 16px;
  gap: 16px;
  min-height: 680px;
  perspective: 1500px;
}

svg {
  max-width: 140px;
}

@media (max-width: 800px) {
  .grid-layout-3c-1r-2r {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 2fr 1.4fr 0.2fr 1.4fr !important;
    grid-template-areas: "column-grid-1 column-grid-1" "column-grid-2 column-grid-4" "column-grid-2 column-grid-5" "column-grid-3 column-grid-5" !important;
  }
  .box {
    top: -10px;
    right: -10px;
  }
  .box,
  .img-perfil {
    width: calc(3rem + 3px) !important;
    height: calc(3rem + 3px) !important;
  }
}
@media (max-width: 600px) {
  .grid-layout-3c-1r-2r {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.grid-layout-3c-1r-2r {
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  grid-template-rows: 1fr 0.15fr 1fr;
  grid-template-areas: "column-grid-1 column-grid-2 column-grid-3" "column-grid-1 column-grid-2 column-grid-5" "column-grid-1 column-grid-4 column-grid-5";
}

.selo-1 {
  position: absolute;
  right: 16px;
  top: 16px;
}

.column-grid-1 {
  grid-area: column-grid-1;
}

.column-grid-2 {
  grid-area: column-grid-2;
}

.column-grid-3 {
  grid-area: column-grid-3;
}

.column-grid-4 {
  grid-area: column-grid-4;
}

.column-grid-5 {
  grid-area: column-grid-5;
}

.column-grid-1,
.column-grid-2,
.column-grid-3,
.column-grid-4,
.column-grid-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: background-image 0.5s ease;
}

.column-grid-2:hover,
.column-grid-3:hover,
.column-grid-4:hover,
.column-grid-5:hover {
  background-image: radial-gradient(circle at -118.594px -39.0401px, rgba(4, 5, 7, 0.3333333333), rgba(88, 82, 82, 0.0588235294));
}

.column-grid-1 {
  background-image: radial-gradient(circle at -118.594px -39.0401px, rgba(1, 65, 255, 0.3333333333), rgba(0, 0, 0, 0.0588235294));
  mix-blend-mode: plus-lighter;
}

.btn {
  border-radius: 40px;
  padding: 0.5rem 3rem;
}

.lead {
  font-weight: 600;
}

.img-card {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.card-ei {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}